appnope
backcall
certifi
charset-normalizer
cycler
decorator
entrypoints
et-xmlfile
idna
ipykernel
ipython
ipython-genutils
jedi
jupyter-client
jupyter-core
kiwisolver
matplotlib
nest-asyncio
numpy
openpyxl
pandas
parso
pexpect
pickleshare
Pillow
prompt-toolkit
psycopg2-binary
ptyprocess
Pygments
pyparsing
pyrate-limiter
python-dateutil
pytz
pyzmq
requests
sec-edgar-api
six
sqlalchemy
tornado
traitlets
tqdm
urllib3
wcwidth
xlrd
-e .
redis
celery
flask